          <% @apikeys.each do |key| %>
          <tr>
            <td><%= key.attributes[:access_key] %></td>
            <td>
              <%= link_to '#' do %>
                <%= icon('trash') %>
              <% end %>
            </td>
          </tr>
          <% end %>
