body, html {
  height:100%;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

#sidebar {
   padding-left:0;
}

footer {
  padding-bottom: 20px;
}

a {
  color: #9c8cc2;
}

a:hover {
  color: #5c4c82;
}

a.btn {
  color: #fff;
}

i.fa-trash {
  color: #d9534f;
}

.bg-orange {
  background-color: #e16e2f;
}

.bg-orange:hover {
  background-color: #d15e1f;
}

a.btn-lpurple {
  color: #9c8cc2;
}

.btn-lpurple {
  background-color: #f7f7f9;
}

.btn-lpurple:hover {
  background-color: #f0f0f0;
}

.bg-purple {
  background-color: #3f1989;
}

#sidebar .nav-link {
  color: #9c8cc2;
}

#sidebar .nav-link:hover {
  color: #5c4c82;
}
