<% content_for :subject do %>
  Your Organizations
<% end %>
<div class="row mb-3">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
          <%= render 'list' %>
        </tbody>
      </table>
    </div>
    <br>
    <%= link_to new_organization_path, class: 'btn bg-orange' do %>
      <%= icon('plus') %> Add
    <% end %>
  </div>
</div>
